body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

.logo-img{
    border-radius: 50px;
    margin: 0 5%;
  }

  .navbar-container{
    width: 100%;
    box-shadow: 2px 3px 4px gray;
    background-color: #f6e8d5;
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
    position: sticky;
  }

  .nav-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
    gap: 10%;
    width: 50%;
  }
  
  .link{
    color: red;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
  }

  .active{
    color: blue;
  }

  .link:active{
    color: green;
  }

  /* hero section css */

  .hero-section-container{
    width: 100%;
    background-color: #17172f;
    background-image: linear-gradient(to right, #060607, #17172f);
  }

  .profile-container{
    text-align: center;
    padding: 5% 0;
  }

  .profile-photo{
    border-radius: 50%;
  }
  
  .name-heading{
    color: #f6e8d5;
    font-size: 5rem;
    margin: 0;
  }

  .name-para-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name-para{
    color: #f6e8d5;
    font-size: 1.5rem;
    width: 30%;
    letter-spacing: 1px;
    line-height: 2rem;
    margin: 0;
  }

  .skills-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 2% 0;
  }

  .skills-title{

  }

  .contact-form{
    width: 30%;
    background-color: #17172f;
    color: #f6e8d5;
    padding: 4%;
    border-radius: 2rem;
  }

  .contact-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 5% 0;
  }
